streamlit
streamlit-lottie
streamlit-option-menu
streamlit-mic-recorder
requests
pdfplumber
langchain
langchain-community
langchain-openai
langchain-text-splitters
faiss-cpu
google-api-python-client
google-auth
google-generativeai
openai
