streamlit
streamlit-lottie
streamlit-option-menu
streamlit-mic-recorder
requests
pdfplumber
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-google-genai==1.0.9
langchain-text-splitters==0.2.2
google-generativeai==0.7.2
faiss-cpu
google-api-python-client
google-auth
